<div class="container">
<h1>Retailers</h1>
<% @shops.each do |shop| %>
  <div class="col-lg-4">
    <div class="shop-container">
    <%= link_to shop.name, shop %>
    </div>
  </div>
<% end %>
</div>
