<div class="container">
<h1><%= @shop.name %></h1>
<p><%= @shop.description %></p>

<% @shop.products.each do |product| %>
<div class="col-md-20">
  <%= render partial: 'products/product_w2', locals: {product: product} %>
</div>
<% end %>
</div>
