<%#= image_tag "login_page.jpg", class: "bg" %>
<div class="login-page">
  <!-- <div class="login-overlay"> -->
  <%#= render partial: 'shared/header_secondary' %>
  <div class="container">
    <%= link_to "Go back", root_path, class: 'btn-back' %>
      <div class="form-wrapper-page">
      <%= render partial: 'shared/login_form' %>
    </div>
  </div>
  <!-- </div> -->
</div>
