<section class="profile-page">
    <div class="profile-user-header">
    <div class="container">
        <div class="profile-user-content">
          <%= image_tag @user.try(:avatar), class: "profile-image" %></a>
          <h4><%= @user.username %></h4>
        </div>
        </div>
    </div>
    <div class="profile-main-content">
      <div class="container">
        <h4 class="user-heading-title">Liked</h4>

          <div class="row">
          <div class="user-favourites">
                <% @user.likes.each do |item| %>
                <div class="col-md-20 col-lg-20">
                  <%= render partial: 'products/product', locals: {product: item } %>
                </div>
                <% end %>
          </div>
        </div>
      </div>
        <% if current_user == @user %>

          <div class="container">
            <h4 class="user-heading-title">Recently viewed</h4>

            <div class="row">
          <div class="user-recently-viewed">
                <% @user.recently_viewed_products.each do |item| %>
                <div class="col-md-20 col-lg-20">
                  <%= render partial: 'products/product', locals: {product: item } %>
                </div>
                <% end %>
          </div>
          <% end %>
          </div>
        </div>
    </div>
</section>
