<section class="profile-page">
  <div class="container">
    <div id="user-header">
        <%= image_tag @user.try(:avatar).url(:medium), class: 'profile-image' %>
          <div id="user-details">
            <h4><%= @user.try(:username) %></h4>
          </div>
      </div>
      <div class="row">
    <div id="user-favourites">
      <h4>Liked</h4>
        <% @user.likes.each do |item| %>
        <div class="col-md-3">
          <%= render partial: 'products/product_w2', locals: {product: item } %>
        </div>

        <% end %>
        </div>
    </div>
  </div>
</section>
