<section class="profile-page">
  <div class="user-header">
    <div class="container">
    <%= image_tag @user.try(:avatar).url(:medium), class: 'profile-image' %>
      <div class="user-details">
        <h4><%= @user.try(:username) %></h4>
      </div>
    </div>
  </div>
  <div class="favourites">
    <div class="container">
    <h3>Recently Liked</h3>
    <% @user.upvotes.each do |upvote| %>
      <%= render partial: 'products/product_w2', locals: {product: upvote.upvotable } %>
    <% end %>
    </div>
  </div>
</section>
