<div class="modal fade login-signup-modal" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="signup-form-wrapper form-wrapper">
        <%= render partial: 'shared/signup_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
