<div class="container">
  <div class="row">
    <h1>Shops</h1>
    <% @retailers.each do |retailer| %>
        <div class="retailer-container">
            <%= link_to retailer.name, retailer %>
        </div>
    <% end %>
  </div>
</div>
