<div class="container">
<h1>Retailers</h1>
<% @retailers.each do |retailer| %>
  <div class="col-lg-4">
    <div class="shop-container">
    <%= link_to retailer.name, retailer %>
    </div>
  </div>
<% end %>
</div>
