<section class="explore-nav">
  <div class="container">
    <nav>
    <ul>
      <li><%= link_to "New", "#" %></li>
      <li><%= link_to "Trending", trending_path  %></li>
      <li><%= link_to "Following", "#" %></li>
    </ul>
  </div>
</section>
