<section class="explore-nav">
  <div class="container">
    <nav>
    <ul>
      <li><%= link_to "Explore", root_path %></li>
      <li><%= link_to "Trending", trending_path  %></li>
      <li><%= link_to "Recommended", recommended_path %></li>
    </ul>
  </div>
</section>
