<div id="explore-nav">
  <div class="container">
    <nav>
    <ul>
      <li><%= link_to "New", "#", class: 'hvr-float' %></li>
      <li><%= link_to "Trending", trending_path, class: 'hvr-float'  %></li>
      <li><%= link_to "Following", "#", class: 'hvr-float'  %></li>
    </ul>
  </div>
</div>
