<% unless current_user %>
<section id="hero" style="text-align:center">
  <h3 class="cta">Discover and collect the best brands from around the world.</h3>
  <%= link_to "Sign up now", "#", {:class => 'signup-cta', :remote => true, 'data-toggle' => 'modal', 'data-target' => '#signup-modal'} %>
</section>
<% end %>

<!-- Modal -->
<section id="product-home">
  <div class="products-list">
    <div class="container">
      <%= render @products %>
    </div>
  </div>
</section>

<%= paginate @products %>
