<!-- <section id="hero">
  <span class="callout">Discover and collect the best brands from around the world</span>
</section> -->
<section id="product-home">
<div class="container">

<div class="row">
  <div id="categories">
  <%= link_to "Explore" %>
  <%= link_to "Trending" %>
  <%= link_to "Recommended" %>
  </div>
<% @products.each do |product| %>
  <%= render partial: 'products/product_item', locals: {product: product} %>
<% end %>
</section>
