<!-- Modal -->
<% content_for :title do %> Explore <% end %>
<section class="home-hero">
  <div class="hero-overlay">
    <div class="hero">
      <%= render partial: 'shared/header_secondary' %>
        <div class="hero-content">
        <h1>Beyond the boundaries</h1>
        <h4>Discover and shop thousands of products from around the world.</h4>
        <%= link_to "Get started", explore_path, :class => 'cta' %>
        </div>
    </div>
  </div>

</section>
<section id="home-page">
  <div class="section-intro">
    <h3>Trending products</h3>
    <h5 class="secondary-heading">Some items currently trending around the world.</h5>
  </div>
  <div class="trending">
    <div class="row">
    <div class="container">
      <% Product.all.limit(5).each do |product| %>
      <div class="product-container col-sm-6 col-md-20 animated fadeIn">
        <%= render partial: 'products/product', locals: {product: product} %>
      </div>
      <% end %>
    </div>
    </div>
  </div>
</section>
