<section class="trending-page" class="content-s1">
  <div class="container">
  <% @products.each do |product| %>
    <div class="col-md-4">
  <%= render partial: 'products/product', locals: {product: product} %>
  </div>
  <% end %>
  </div>
</section>
