<section id="trending" class="content-s1">
  <%= render partial: 'nav' %>
  <div class="container">
  <% @products.each do |product| %>
  <%= render partial: 'products/product_w2', locals: {product: product} %>
  <% end %>
  </div>
</section>
