<div class="error-page">
<div class="container">
  <div class="error-content">
    <h4 class="brand">Crosslabel</h4>
    <h1>Oh dear (404)</h1>
  <h4>Sorry, something seems to have gone wrong. Maybe the file was deleted or moved. Be sure to check your spelling. In the mean time, please check out our <%= link_to "home page", root_path %> or <%= link_to "contact us", "mailto:kareem.kwong@gmail.com" %>.</h4>
  </div>
</div>
</div>
