<div class="error-page">
<div class="container">
  <div class="error-content">
    <h4 class="brand">Crosslabel</h4>
    <h1>Oh my goodness (500)</h1>
  <h4>There seems to be something wrong with our systems! We apologize for this inconvenience. In the mean time, please check out our <%= link_to "home page", root_path %> or <%= link_to "contact us", "mailto:kareem.kwong@gmail.com" %>.</h4>
  </div>
</div>
</div>
