/*******
Fonts
*******/

$light: 300;
$regular: 400;
$medium: 600;
$bold: 800;
$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: $regular;
$base-font-size: 15px;
$base-line-height: 1.5;
$base-font-color: #656565;
$secondary-font-color: #807E7E;
$header-font-color: #FF5A5F;
$gray-medium-light: #eaeaea;
/*******
Links
*******/

$default-link-color: #333;
$default-hover-color: #444;
/********
Icons
*********/

$secondary-icon-color: #807E7E;
$secondary-icon-hover-color: #000;

/********
Images
*********/
