@import"modules/all";
body, html {
  position: relative;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  line-height: $base-line-height;
  overflow-x: hidden;

}

.container {
  width: 98%;
}

.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
   position: relative;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
}

a {
  color: $default-link-color;
  &:hover {
    color: $default-hover-color;
    background: none;
    text-decoration: none;
  }
}

#next {
  background: #999;
  display: block;
  margin: 0 auto;
  width: 335px;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}
