@import"modules/all";
* {
  margin: 0;
}
body, html {
  position: relative;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: $base-line-height;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.container {
  width: 90%;
}

col-md-3 {

}


.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
   position: relative;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
}

a {
  color: $default-link-color;
  &:hover {
    color: $default-hover-color;
    background: none;
    text-decoration: none;
  }
  &:active {
    background: none;
  }
}

#next {
  background: #16A085;
  display: block;
  margin: 0 auto;
  width: 230px;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
  padding: 0.5em 0;
}
.col-md-3, .col-sm-3, .col-lg-3 {
  padding-left: 25px;
  padding-right: 25px
}
.filters {
  padding-left: 15px;
  padding-bottom: 2em;
}
.btn-group {
  margin: 0 0.5em;
  cursor: pointer;
  &:first-child {
    margin-left: 0;
  }
  a {
    color: #888;
  }
  ul.dropdown-menu {
    background: #f1f1f1;
    border: 0;
    a {
      color: #444;
      font-size: 1.2em;
      &:hover {
        color: #999;
      }
    }
  }
}
.filter-item {
  font-size: 1.2em;
  .dropdown-menu {
    margin: 0 1em;
  }
}

.prev {
  margin-right: 2em;
}

.pagination {
  width: 100%;
  text-align: center;
  font-size: 1.1em;
}
