.btn {
  display: block;
  background: #999;
  color: #fff;
  font-size: 1em;
  border-radius: 3px;
  border: 0;
  font-weight: $medium;
  letter-spacing: 1px;
  @include border-radius(6px);
  @include transition(opacity, 1s, ease);
  &:hover {
    color: #fff;
    background: #777;
  }
}

.btn-back {
  @extend .btn;
  color: #999;
  font-size: 1.1em;
  border: 1px solid #999;
  background: none;
  display: inline;
  @include border-radius(999px)
}
.btn-cta {
  @extend .btn;
  display: inline;
  margin: 0 auto;
  font-size: 1.2em;
  background: $default-btn-color;
  padding: 0.8em 1.8em;
  &:hover {
    background: $default-btn-color;
  }
}

.btn-facebook-login {
  @extend .btn;
  background: #3b5998;
  padding: 0.8em 1em;
  margin-top: 1.5em;
  text-align: center;
  &:hover {
    background: #0b2969;
  }
}

.btn-search {
  @extend .btn;
  display: inline;
  background: #00b27f;
  font-size: 1.2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin: 0;
  @include border-radius(3px);
}

.btn-settings {
  @extend .btn;
  background: #999;
  width: 100px;
  &:hover {
    background: #555;
  }
}

.btn-signup, .btn-login, .btn-reset {
  @extend .btn;
  width: 100%;
  color: #fff;
  background: $default-btn-color;
  padding: 0.8em 1.5em;
  &:hover {
    color: #fff;
    background: #16A085;
  }
}

.btn-purchase {
  @extend .btn;
  margin: 0 auto;
  margin-top: 2em;
  color: #fff;
  background: $default-btn-color;
  width: 220px;
  padding: 0.5em;
  font-size: 1.1em;
  &:hover {
    color: #fff;
    background: #019875;
  }
}

.btn-popover {
  @extend .btn;
  background: $default-btn-color;
  margin-top: 2em;
  font-weight: $bold;
}


.btn-fb-photo {
  @extend .btn;
  display: inline-block;
  background: $default-btn-color;
  &:hover {
    background: #00a072;
  }
}
.fa-facebook {
  @extend .btn;
  margin-right: 1em;
}
