@import "base";
.btn {
  display: block;
  color: #fff;
  border-radius: 3px;
  font-weight: $medium;
  border: 0;
  letter-spacing: 2px;
  @include border-radius(3px);
  @include transition(opacity, 1s, ease);
  &:hover {
    color: #fff;
  }
}

.btn-facebook-login {
  @extend .btn;
  width: 265px;
  background: #3b5998;
  padding: 0.8em 2.5em;
  text-align: center;
  &:hover {
    background: #0b2969;
  }
}

.btn-search {
  background: #00b27f;
  width: 120px;
  height: 48px;
  font-size: 22px;
}

.btn-settings {
  @extend .btn;
  background: #999;
  width: 100px;
  &:hover {
    background: #555;
  }
}

.btn-signup, .btn-login, .btn-reset {
  @extend .btn;
  width: 150px;
  color: #fff;
  background: #16A085;
  padding: 0.8em 1.5em;
  &:hover {
    color: #fff;
    background: #019875;
  }
}

.btn-purchase {
  @extend .btn;
  color: #444;
  background: #effa8d;
  width: 220px;
  padding: 0.3em;
  font-size: 1.1em;
  text-align: center;
  &:hover {
    color: #333;
    background: #f9f075;
  }
}

.btn-settings {
  @extend .btn;
  background: #00b27f;
  width: 220px;
  padding: 0.7em 0;
  font-size: 1.2em;
  text-align: center;
  &:hover {
    background: #00a072;
  }
}

.btn-fb-photo {
  @extend .btn;
  display: inline;
  background: #00b27f;
  padding: 0.7em;
  font-size: 1.2em;
  text-align: center;
  &:hover {
    background: #00a072;
  }
}
.fa-facebook {
  @extend .btn;
  margin-right: 1em;
}
