@import "base";
// Table of Contents
// 1. Defaults
// 2. Products
// 3. User Profiles
// 4. Product Detail Page

// 1. Defaults
.content-s1 {
  background: #fff;
}

.content-s2 {

}

.product-container.w2 {
  padding: 20px;
}

#hero {
  background: #ccc url('https://download.unsplash.com/31/iqlYdAAYQiaOCoKnT6jE_kabia.jpg');
  background-size: cover;
  width: 100%;
  height: 700px;
  text-align: center;
  .hero-overlay {
    background: rgba(0,0,0, 0.15);
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
  }
  .hero-content {
    padding-top: 6em;
  }
  h1 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }
  h4 {
    color: #fff;
    margin-bottom: 2em;
  }
  .cta {
    color: #fff;
    background: #16A085;
    font-size: 1.2em;
    padding: 0.5em 2em;
    letter-spacing: 1px;
    @include border-radius(3px);
    &:hover {
      color: #fff;
      background: #019875;
    }
  }
}

.section-intro {
  text-align: center;
  margin-bottom: 2em;
  .secondary-heading {
    color: #888;
  }
}

#home-trending-cities {
  position: relative;
  padding: 1em 0;

  .cities-item {
    margin-bottom: 1em;
  }
  .city {
    width: 100%;
    background: #f9f9f9;
    height: 240px;
  }
  .city-overlay {
    background: rgba(0,0,0, 0.3);
    position: relative;
    width: 100%;
    height: inherit;
    text-align: center;
    top: 0;
    .city-heading {
      color: #fff;
      font-size: 1.6em;
      position: relative;
      top: 45%;
      font-weight: $bold;
      z-index: 100;
    }
  }

}

#home-trending-products {
  padding: 2em 0;
}

.login-page, .signup-page, .password-page {
  background: #f5f6f5 image-url('login_page.jpg');
  background-size: cover;
  color: #fff;
  height: 100%;
  text-align: center;
  h3 {
    color: #fff;
    font-weight: 700;
  }
  p {
    font-size: 1.1em;
  }
  .login-links {
    margin-top: 1em;
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.login-overlay {
  background: rgba(0,0,0, 0.2);
  position: absolute;
  width: 100%;
  height: inherit;
  top: 0;
  left: 0;
}


// 2. Products


.social {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.9em;

}


.heart.voted {
    color: #D94052;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    vertical-align: middle;
    &:hover {
      color: #999;
    }
}


.heart.not-voted {
  color: #999;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  opacity: 0;
  vertical-align: middle;

  &:hover {
    color: #D94052;
  }
  &:hover #fav-text {
    opacity: 1;
  }
}

.featured-shops {
  padding: 0 1em;
}

.trending {
  padding: 0 1em;
  .shops, .cities {
    padding: 0;
  }
  ul {
    padding: 0;
    li {
      color: #999;
      list-style: none;
      margin: 0;
    }
  }
}

.home {
  padding: 1em 0;
}
.recommended-items {
  h4 {
    padding: 0 1em;
  }
}

.product-list {
  padding: 1em 0;
}

.product-container {
  margin-bottom: 1em;
}
.product {
  position: relative;
  height: 400px;

  .product-image-container {
    position: relative;
    height: 287px;

    img.product-image {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
    &:hover .card-hover {
      opacity: 1;
    }
    &:hover .product-overlay {
      opacity: 1;
    }

    &:hover .heart.not-voted {
      opacity: 1;
    }

    .liked-users {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    .product-overlay {
      background: rgba(255,255,255, 0.4);
      position: absolute;
      width: 100%;
      height: 300px;
      top: 0;
      left: 0;
      opacity: 0;
      @include transition(opacity, 0.5s, ease);

    }
    .card-hover {
      position: absolute;
      width: 100%;
      color: #6f6f6f;
      opacity: 0;
      bottom: 40%;
      text-align: center;
      @include transition(opacity, 1s, ease);

    }

  }


}

.liked-users {
}
img.liked-user-image {
  width: 32px;
  height: 32px;
  @include border-radius(50%);
  transition: 0.1s linear;
  border: 1px solid #fff;
  margin-left: -3px;
  &:first-child {
    margin-left: 0;
  }
}

.product-details {
  border-top: 0;
  padding: 10px 0 0 0;
  .retailer {
    color: #706D6D;
    font-weight: 1.1em;
    font-weight: $regular;
    margin: 0;
    a {
    }
  }
  .product-heading {
    color: #252525;
    font-size: 1em;
    font-weight: $regular;
    letter-spacing: 1px;
    margin-bottom: 0.3em;
  }
}

.explore-nav {
  background: #f0f0f0;
  padding-top: 6px;
  ul {
    padding: 0;
    li {
      display: inline;
      font-size: 1.1em;
      padding-left: 1em;
      &:first-child {
        padding-left: 0;
      }
      a {
        color: #888;
        &:hover {
          color: #2c2c2c;
        }
      }
    }
  }
}

.tiny-list {
  padding: 1em 1em;
}

.tiny-item.col-md-1 {
  width: 100px;
  display: inline-block;
  padding: 0;
}

.tiny-product {
  position: relative;

  .tiny-image-container {
    width: 100px;
    height: 100px;
    margin: 0;
    img.product-image {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
    &:hover .product-overlay {
      opacity: 1;
    }

    &:hover .heart.not-voted {
      opacity: 1;
    }
    .product-overlay {
      background: rgba(255,255,255, 0.4);
      position: absolute;
      width: inherit;
      height: inherit;
      top: 0;
      left: 0;
      opacity: 0;
      @include transition(opacity, 0.5s, ease);

    }

  }


}
// Profile Page


.profile-image {
  width: 100px;
  height: 100px;
  @include border-radius(50%);
  border: 3px solid #fff;
}

.profile-page {
  width: 100%;

}
#user-header {
  text-align: center;
  padding: 2em 1em 2em 1em;
}

.favourites {
  background: #fff;
}

#user-details {
}

.user-profile {
  background: #f6f5f6;
  height: 500px;
}

// 4. Product Detail Page

.product-detail-page {
  padding-top: 2em;
  .product {
    margin: 0 auto;
  }
  .product-heading {
  	margin: 0;
  	font-size: 2em;
    font-weight: $light;
  }

  .product-description {

  	p {
  		color: #777;
  	}
  }
  .shop-heading {
  	color: #888;
  	text-transform: uppercase;
  }

  .goto-shop-container {
  	padding: 2em 0;
  }

  .product-modal-profile-image {
  	width: 30px;
    height: 30px;
  	@include border-radius(50%);

  }
}

.product-modal-image {
  padding: 0;
  text-align: right;
}

ul.product-meta {
  padding: 0.5em 0;
  li {
    font-size: 0.8em;
    display: inline-block;
    margin-right: 2px;
    &:last-child {
      margin-right: 0;
    }
  }
  svg {
    vertical-align: bottom;
    margin-right: 3px;
  }
  .price {

  }

}

.product-info {
}

.product-actions-container {
  padding: 1em 0;
  .liked_by_count {
    background: #999;
    color: #fff;
    display: inline-block;
    width: 35px;
    font-size: 1.2em;
    text-align: center;
    font-weight: $bold;
    @include border-radius(5px);
  }
  .vote {
    margin: 0 1em
  }
  .heart.not-voted {
    opacity: 1;
  }
}

// User settings page
.user-settings-page {}

// Explore page
.explore-page {
  padding: 2em 0;
  .explore-heading {
    font-weight: $light;
    margin-top: 0;
    padding-bottom: 10px;
  }
}

.explore-hero {
  background: #ccc url('https://download.unsplash.com/31/iqlYdAAYQiaOCoKnT6jE_kabia.jpg');
  background-position: 25% 60%;
  background-size: cover;
  width: 100%;
  min-height: 250px;
  text-align: center;
  .hero-overlay {
    background: rgba(0,0,0, 0.15);
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
  }
  .explore-hero-heading {
    color: #fff;
    font-weight: $light;
    padding-bottom: 10px;
  }

  .hero-content {
    width: 50%;
    margin: 0 auto;
    padding-top: 3em;
  }
}

.explore-sidebar {
  background: #f9f9f9;
  padding: 1em 2em;
  margin: 0;
  @include border-radius(5px);
  .sidebar-heading {
    margin-bottom: 10px;
    h3 {
      display: inline;
      font-weight: $light;
    }
  }
  svg {
    vertical-align: bottom;
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      padding: 2px 0;
      font-weight: $light;
      text-transform: capitalize;
      padding: 5px 0;
      border-bottom: 1px solid #eee;
    }
    li.active {
      font-weight: $regular;
      a {
        color: #16A085;
      }
    }
  }
}

// Trending page

.trending-page {
  padding: 2em 0;
}

.section-intro {
  text-align: center;
  margin-bottom: 2em;
  .secondary-heading {
    color: #888;
  }
}

// Categories
.category-heading {
  font-weight: $light;
  margin: 0;
  text-transform: capitalize;
}

// Shops
.shop-container {
  background: #f9f9f9;
  height: 308px;
}
