// Table of Contents
// 1. Defaults
// 2. Products
// 3. User Profiles
// 4. Product Detail Page

// 1. Defaults

div.breadcrumbs {
  font-size: 1.1em;
  padding-bottom: 1em;
}
.product-container.w2 {
  padding: 20px;
}

.section-intro {
  text-align: center;
  margin-bottom: 2em;
  .secondary-heading {
    color: #888;
  }
}

#home-trending-cities {
  position: relative;
  padding: 1em 0;

  .cities-item {
    margin-bottom: 1em;
  }
  .city {
    width: 100%;
    background: #f9f9f9;
    height: 240px;
  }
  .city-overlay {
    background: rgba(0,0,0, 0.3);
    position: relative;
    width: 100%;
    height: inherit;
    text-align: center;
    top: 0;
    .city-heading {
      color: #fff;
      font-size: 1.6em;
      position: relative;
      top: 45%;
      font-weight: $bold;
      z-index: 100;
    }
  }

}

#home-page {
  padding: 2em 0 4em 0;
}

.login-page, .signup-page, .password-page {
  background: #f7fafa;
  background-size: cover;
  color: #252525;
  height: 100%;
  padding: 2em 0 5em 0;
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .hero-overlay {
    height: inherit;
  }
  p {
    font-size: 1.1em;
  }
  .login-links {
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.login-overlay {
  // background: rgba(0,0,0, 0.2);
  position: absolute;
  width: 100%;
  height: inherit;
  top: 0;
  left: 0;
}


// 2. Products


.social {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.9em;

}

.featured-shops {
  padding: 0 1em;
}

.trending {
  padding: 1em 0;

  ul {
    padding: 0;
    li {
      color: #999;
      list-style: none;
      margin: 0;
    }
  }
}

.home {
  padding: 1em 0;
}
.recommended-items {
  h4 {
    padding: 0 1em;
  }
}

.product-list {
  padding: 1em 0;
}


.product {
  position: relative;
  margin-bottom: 3em;

  .product-image-container {
    position: relative;
    height: auto;

    img.product-image {
      width: 100%;
      object-fit: cover;
    }
    &:hover .product-overlay {
      opacity: 1;
    }

    &:hover svg.product-upvote-icon {
      opacity: 1;
    }

    &:hover img.liked-user-image {
      margin: 0;
    }

    .liked-users {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    .product-overlay {
      background: rgba(255,255,255, 0.1);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      @include transition(opacity, 0.5s, ease);

    }
    .card-hover {
      position: absolute;
      width: 100%;
      color: #6f6f6f;
      bottom: 40%;
      text-align: center;
    }
    .product-meta {
      position: absolute;
      width: 100%;
      color: #6f6f6f;
      bottom: 2%;
      left: 2%;
    }

  }


}


img.liked-user-image {
  width: 32px;
  height: 32px;
  @include border-radius(50%);
  transition: 0.1s linear;
  border: 1px solid #fff;
  margin-left: -20px;
}

.product-details {
  border-top: 0;
  padding: 10px 0 0 0;
  .product-heading {
    font-size: 1.1em;
    margin-top: 0;
    font-weight: $medium;
    margin-bottom: 5px;
  }
  .product-retailer-heading {
    font-size: 0.8em;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    a:hover {
      opacity: 0.7;
    }
  }
  .product-meta {
    margin-top: 3px;
    .product-meta-item {
      margin-right: 5px;
    }
    svg {
      margin-right: 5px;
      vertical-align: middle;

    }
  }
  .product-country-heading {

  }

  .product-price {
    float: right;
  }
}

// Profile Page


.profile-image {
  width: 100px;
  height: 100px;
  @include border-radius(50%);
  border: 3px solid #fff;
}

.profile-page {
  width: 100%;
  padding: 2em 0;
  .user-heading-title {
    margin-top: 0;
  }

}
.user-details {
  text-align: center;
  a.link-user-edit {
    display: block;
    margin-top: 4em;
    font-weight: $medium;
  }
}

.user-favourites {
}

#user-details {
}

.user-profile {
  background: #f6f5f6;
  height: 500px;
}

// 4. Product Detail Page

.product-detail-page {
  position: relative;
  padding: 0 0 4em 0;
  .product {
    margin: 0 auto;
  }

  .product-display {
    position: relative;
    margin-bottom: 1em;
  }

  div.slick-slide {
    opacity: 0.5;
  }
  div.slick-active.slick-center {
    opacity: 1;
  }
  .product-detail-heading {
  	font-size: 2em;
    font-weight: $light;
  }

  .product-info {
    width: 60%;
    margin: 0 auto;
    padding: 1em 0 2em 0;
    text-align: center;
    svg {
      vertical-align: middle;
      margin-right: 3px;
    }
    .product-social-item {
      margin-right: 10px;
    }
    .product-info-price {
      margin: 1em 0;
    }
  }

  .product-footer {
    padding: 4em 0 2em 0;
    ul.product-footer-nav {
        list-style: none;
        padding-left: 0;
        li {
          display: inline-block;
          padding: 0 15px;
        }

    }
    .product-liked-users {
      padding-top: 1em;
    }
    .product-liked-user-image {
      width: 30px;
      height: 30px;
      margin: 0 5px;
      @include border-radius(50%);
    }
  }

  .product-detail-description {

  	p {
  		color: #777;
  	}
  }
  .shop-heading {
  	color: #888;
  	text-transform: uppercase;
  }

  .goto-shop-container {
  	padding: 2em 0;
  }

  .product-modal-profile-image {
  	width: 30px;
    height: 30px;
  	@include border-radius(50%);

  }
}

.product-show-image {
  padding: 0;
}

.main-product-image {
  width: 100%;
}
.viewing {
  border: 4px solid #eee;
}

.product-variations {
  padding: 1em 0;
}

.product-actions-container {
  padding: 1em 0;
  .liked_by_count {
    background: #999;
    color: #fff;
    display: inline-block;
    width: 35px;
    font-size: 1.2em;
    text-align: center;
    font-weight: $bold;
    @include border-radius(5px);
  }
  .vote {
    margin: 0 1em
  }
  .heart.not-voted {
    opacity: 1;
  }
}

.similar-items {
  margin-top: 1em;
  padding: 2em 0 4em 0;
  h3 {
    margin-bottom: 1em;
  }
}

// User settings page
.user-settings-page {
  background: #f7fafa;
  padding: 2em 0 2em 0;
}

// Explore page
.explore-page {
  padding: 2em 0 6em 0;
  .explore-heading {
    font-weight: $regular;
    margin-top: 0;
    padding-left: 15px;
    padding-bottom: 1em;
  }
}

.explore-hero {
  background: #ccc image-url('explore-hero.jpg');
  background-position: 25% 45%;
  background-size: cover;
  width: 100%;
  min-height: 350px;
  text-align: center;
  padding-bottom: 2em;
  .hero-overlay {
    background: rgba(0,0,0, 0.15);
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
  }
  .explore-hero-heading {
    color: #fff;
    font-weight: $light;
    padding-bottom: 10px;
  }

  .hero-content {
    width: 50%;
    margin: 0 auto;
    padding-top: 4em;
  }
}

.explore-sidebar {
  background: #f9f9f9;
  padding: 1em 2em;
  margin: 0;
  @include border-radius(5px);
  .sidebar-heading {
    vertical-align: middle;
    margin-bottom: 10px;
    h3 {
      position: relative;
      top: 5px;
      display: inline;
      font-size: 1.2em;
      font-weight: $light;
    }
  }
  svg {
    vertical-align: bottom;
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      padding: 2px 0;
      font-weight: $light;
      text-transform: capitalize;
      padding: 5px 0;
      border-bottom: 1px solid #eee;
    }
    li.active {
      font-weight: $regular;
      a {
        color: #16A085;
      }
    }
  }
}

// Trending page

.section-intro {
  text-align: center;
  margin-bottom: 2em;
  .secondary-heading {
    color: #888;
  }
}

// Categories
.category-heading {
  font-weight: $light;
  margin: 0;
  text-transform: capitalize;
}

// Retailers
.retailer-container {
  display: inline-block;
  background: #f9f9f9;
  width: 80px;
  height: 80px;
  @include border-radius(4px);
}
