
footer.footer {
  background: #f0f0f0;
  color: #444;
  height: 265px;
  width: 100%;
  padding-top: 4em;
  ul {
    list-style: none;
    padding: 0;
    li {}
  }
  a {
    color: #808080;
  }
  .footer-brand {
    color: #444;
    font-family: 'loveloblack', 'sans-serif';
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 3px;


  }
}
