
footer.footer {
  background: #f7f1f1;
  color: #444;
  min-height: 265px;
  width: 100%;
  font-size: 1.15em;
  padding: 5em 0 0 0;
  a {
    color: #808080;
  }
  ul.nav {
    padding-left: 20px;
  }
  .footer-brand {
    position: relative;
    color: #666;
    font-family: 'loveloblack', 'sans-serif';
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 3px;
    top: 15px;

  }
}
