
/*****************************************
1. Default styles
2. Signup and login forms
***************************************/

// 1. Default styles
.form-control {
  background: #fff;
  width: 100%;
  color: #929292;
  font-size: 1em;
  border: 0;
  padding: 24px 18px;
  letter-spacing: 2.5px;
  box-shadow: none;
  font-weight: $regular;
  @include border-radius(1px);
  &:focus {
    box-shadow: none;
    background-color: #FFE7BC;
  }
}
// 2. Signup and Login Forms

.form-wrapper-page {
  width: 450px;
  margin: 0 auto;
  padding: 1em;
  h2 {
    margin-top: 0;
    margin-bottom: 1em;
  }
  .separator{
    color: #afb9bf;
    margin: 1em 0;
  }
}
.glyphicon {
  font-size: 1.5em;
  padding-top: 5px;
}
.has-error {
  .help-block {
    background: #E74C3C;
    padding: 0;
    color: #fff;
    font-weight: $light;
    padding: 0.5em 0;
    margin: 0;
    font-size: 1em;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
.form-search {
  margin: 0 auto;
  margin-top: 1.3em;
  width: 60%;
  input.form-control {
    background: #f9f9f9;
    font-size: 1.2em;
    padding: 1.3em 1em;
    @include border-radius(5px);
  }
  .input-group-btn {
    width: 1%;
    font-size: 1.2em;
  }

}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.user-settings-form-wrapper, .upload-avatar-form-wrapper {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 2em;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .form-wrapper-page {
    width: 100%;
  }
  .user-settings-form-wrapper, .upload-avatar-form-wrapper {
    width: 100%;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
