@import "base";
button.navbar-toggle, button.navbar-toggle.collapsed {
  padding: 0;
  margin: 0;
}

header.header {
  background: #fff;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  .navbar-brand {
    color: #444;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    &:hover {
      color: #444;
    }
  }

  ul {
    li {
      display: inline;
      a {
        color: $default-link-color;
        text-shadow: none;
      }
    }
  }
}

.header-profile-image {
  width: 30px;
  height: 30px;
  @include border-radius(50%);
}
