@import "base";
button.navbar-toggle, button.navbar-toggle.collapsed {
  padding: 0;
  margin: 0;
}
div#bs-example-navbar-collapse-1.collapse.navbar-collapse {
  padding: 0;
  height: 40px;
}
.navbar-header, .navbar-left, .navbar-right {
  height: 48px;
}
ul.nav.navbar-nav.navbar-right {
  li#nav-username {
    padding-right: 13px;
  }
  li {
    padding-top: 13px;
  }
  li a {
    padding-top: 0;
  }
}
header.header-secondary {
  background: none;
  padding-top: 1em;
  @include transition(all, 1s, ease);
  .navbar-brand {
    color: #fff;
    font-family: 'loveloblack', 'sans-serif';
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;


  }
  ul {
    li {
      a {
        color: #fff;
        text-shadow: none;
        &:hover {
          background: none;
        }
      }
    }
  }
  svg {
    vertical-align: middle;
  }

  .header-likes-count {
    vertical-align: middle;
  }
  .dropdown-menu {
    padding: 0;
    li {
      padding: 0;
    }
    a {
      color: #444;
    }
  }
}

header.header-secondary.sticky {
  background: #fff;
  position: fixed;
  width: 100%;
  padding: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(204,204,204,0.7);
  a {
    color: #252525;
  }
}

ul.nav.navbar-nav.navbar-right ul li {
  padding: 0;
}
header.header {
  background: none;
  border-bottom: 1px solid rgba(230,230,230,0.7);

  .navbar-brand {
    color: #444;
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    &:hover {
      color: #888;
    }
  }

  svg {
    vertical-align: middle;
  }

  .header-likes-count {
    vertical-align: middle;
  }
  a.dropdown-toggle {
    padding: 0;
  }

  ul {
    li {
      display: inline;
      a {
        color: #8B909A;
        text-shadow: none;
        &:hover {
          background: none;
        }
      }
    }
  }
}

.dropdown-menu {
  box-shadow: none;
  li {
    a {
      &:hover {
        color: #777;
      }
    }
  }
}
.header-profile-image {
  position: relative;
  bottom: 3px;
  width: 30px;
  height: 30px;
  @include border-radius(50%);
}
