// 1. Product Modal
@media screen and (min-width: 768px) {

	#product-modal {

    .modal-dialog {
      width: 1100px;
    }
    .modal-content {
      box-shadow: none;
      border: 0;
			padding-bottom: 2em;
      @include border-radius(0);
				.modal-header {
					border-bottom: 0;
				}
				.modal-body {
					padding: 0;
				}
    }
  }

}

body.modal-open {
	position: fixed;
	overflow: visible;
}
