@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
body, html {
  color: #999;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  width: 83%;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-weight: 600;
  letter-spacing: 1px;
}

#product-home, #explore-page {
  background: #f5f6f5;
  padding-top: 20px;
}


.explore {
  width: 535px;
  margin: 0 auto;
  .product-container {
    background: #fff;
    border-radius: 5px;
    height: 335px;
    margin-bottom: 1.5em;
  }
}
.product-container {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 1.5em;
}

.product-container.w2 {
  padding-top: 2em;
}
.product {
  position: relative;
  height: 300px;

  .product-overlay {
    background: rgba(0, 0, 0, .1);
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 300px;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    transition: opacity .25s ease;
  }

  &:hover .not-voted {
    opacity: 1;
  }
  .add-to-box {
    opacity: 0;
    color: #888;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .price {
    position: absolute;
    background: #ccc;
    color: #444;
    font-weight: 300;
    padding: 1em;
    right: 0;
    top: 0;
  }


  img.product-image{
    background: #f5f6f5;
    width: 100%;
    height: 300px;
    object-fit: scale-down;
  }
  &:hover .add-to-box {
    opacity: 1;
  }


  &:hover .product-overlay {
    opacity: 1;
  }


}

a {
  color: #444;
  &:hover {
    color: #444;
    background: none;
    text-decoration: none;
  }
}

.product-details {
  min-height: 80px;
  .product-heading {
    padding: 0 0 1em 1em;
  }


  .social {
    padding-left: 1em;

    .profile-image {
      width: 40px;
      border-radius: 50%;
      margin-left: -30px;
      transition: 0.1s linear;
      &:first-child {
        margin-left: 0;
      }
    }

    .likers {
      float: right;
      img {
        width: 40px;
      }
    }

    .upvote-count {
      font-size: 1.2em;
      font-weight: 400;
      vertical-align: middle;
    }

    &:hover .profile-image {
        margin-left: 0;
    }
  }



  .fa-smile-o.voted {
    color: #30EABE;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    vertical-align: middle;
    &:hover {
      color: #999;
    }
  }

  .fa-smile-o.not-voted {
    color: #999;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    vertical-align: middle;

    &:hover {
      -webkit-transform: scale(1.1);
      -moz-transition: scale(1.1);
      transform: scale(1.1);
      color: #30EABE;
    }
  }
}

button.navbar-toggle, button.navbar-toggle.collapsed {
  padding: 0;
  margin: 0;
}

.header {
  padding: 3px 0;
  ul {
    li {
      display: inline;
      a {
        color: #888;
      }
    }
  }
}

.navbar-brand {
  color: #444;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  &:hover {
    color: #444;
  }
}

#hero {
  background: #f9f9f9;
  background-size: cover;
  width: 100%;
  height: 500px;
  padding-top: 5em;
  h3 {
    margin-bottom: 1em;
  }
  .signup-cta {
    border: 2px solid #ccc;
    padding: 0.5em 2em;
    border-radius: 3px;
  }
}

#signup-page, #login-page {
  background: #eee;
  background-size: cover;
  width: 100%;
  padding-top: 2em;
}

.modal-content {
  box-shadow: none;
  border: 0;
}



// Forms
.form-wrapper-page {
  margin: 0 auto;
  width: 28%;
  padding: 1em;
  border-radius: 5px;
  text-align: center;
  h3 {
    margin-top: 0;
    margin-bottom: 1em;
  }
  .separator{
    color: #afb9bf;
    margin: 1em 0;
  }
  .input-group {
    width: 100%;
    text-align: left;
    padding-bottom: 1em;
  }
  .form-control {
    background: #f9f9f9;
    width: 100%;
    color: #888;
    border-radius: 0;
    border: 0;
    padding: 1.5em 1em;
    letter-spacing: 2px;
    box-shadow: none;
    &:focus {
      background-color: #FFE7BC;
    }
  }
}

.form-wrapper {
}

.signup-form-wrapper, .login-form-wrapper {
  padding: 1em;
  border-radius: 5px;
  text-align: center;
  h3 {
    margin-top: 0;
    margin-bottom: 1em;
  }
  .separator{
    color: #afb9bf;
    margin: 1em 0;
  }
  .input-group {
    width: 100%;
    text-align: left;
    padding-bottom: 1em;
  }
  .form-control {
    background: #f9f9f9;
    width: 100%;
    color: #888;
    border-radius: 0;
    border: 0;
    padding: 1.5em 1em;
    letter-spacing: 2px;
    box-shadow: none;
    &:focus {
      background-color: #FFE7BC;
    }
  }
}

.btn-facebook-login {
  background: #3b5998;
  display: block;
  color: #fff;
  padding: 0.8em 2em;
  border-radius: 3px;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
  &:hover {
    color: #fff;
    background: #0b2969;
  }
}

.fa-facebook {
  margin-right: 1em;
}
.btn-signup, .btn-login {
  background: #666;
  width: 100%;
  color: #fff;
  height: 35px;
  border-radius: 3px;
  border: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
  &:hover {
    color: #fff;
    background: #444;
  }
}

.btn-purchase {
  background: #666;
  width: 100%;
  color: #fff;
  height: 50px;
  padding: 1em;
  border-radius: 5px;
  border: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
  margin-top: 1em;
  &:hover {
    color: #fff;
    background: #444;
  }
}

.header-profile-image {
  width: 30px;
  border-radius: 50%;
}



@media screen and (min-width: 768px) {

	.login-signup-modal .modal-dialog  {
    width:420px;
    }

}
