<div class="container">
  <h1>Categories</h1>

  <% @categories.each do |category| %>
    <div class="col-xs-6 col-md-3 col-lg-3">
      <%= link_to category_path(category.name) do %>
      <div class="category-icon">
        <h5><%= category.name %></h5>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
