<div class="container">
<h1><%= @category.title %></h1>
<% @category.products.each do |product| %>
  <div class="product-container col-sm-6 col-md-4 animated fadeIn">
    <%= render partial: "products/product", locals: { product: product }%>
  </div>
<% end %>
</div>
