<div class="row">
  <div class="col-lg-6">
<%= image_tag @product.image %>
  </div>
  <div class="col-lg-6">
  <h3><%= @product.title %></h3>
  <%= link_to "Buy now for #{product.unit_price}", product.link, class: 'btn-purchase'%>
  <% product.upvotes.each do |upvote| %>
    <%= image_tag upvote.user.profile.profile_image %>
  <% end %>
  </div>
</div>
