<div class="row">
  <div class="col-lg-6 product-modal-image">
    <%= image_tag product.image %>
  </div>
  <div class="col-lg-6 product-modal-description">
  <h3><%= product.title %></h3>
  <h5>from Aland</h5>
  <p><%= link_to "Buy from Aland", product.link, class: 'btn btn-purchase'%></p>
  <% product.upvotes.each do |upvote| %>
    <%= image_tag upvote.user.profile.profile_image, class: 'product-modal-profile-image' %>
  <% end %>
  </div>
</div>
