<div class="container">
<h3>Search results for <%= params[:query] %></h3>
<% @products.each do |product| %>
  <%= render partial: 'products/product_w2', locals: {product: product} %>
<% end %>
</div>
