<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
      <ul>
        <li>About</li>
        <li>Our team</li>
        <li>Careers</li>
        <li>Press</li>

      </ul>
      </div>
      <div class="col-lg-4">
      <ul>
        <li>Category list</li>
        <li>Shops list</li>
        <li></li>
      </ul>
      </div>
    </div>
    <%= link_to "CrossLabel", root_path, class: 'footer-brand' %>
    <p>&copy; <%= Time.now.year %> CrossLabel, Inc.<p>
    <div class="row">
    </div>
  </div>
</footer>
