<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
      <ul>
        <li>About</li>
        <li>Our team</li>
        <li>Careers</li>
        <li>Press</li>

      </ul>
      </div>
      <div class="col-lg-2">
      <ul>
        <li>Category List</li>
        <li>Shops List</li>
        <li></li>
      </ul>
      </div>
    </div>
    <div class="row">
      <p></p>
    </div>
  </div>
</footer>
