<%= image_tag "login_page.jpg", class: "bg" %>
<div class="signup-page">
  <div class="login-overlay">
  <%= render partial: 'shared/header_secondary' %>
  <div class="container">
      <div class="form-wrapper-page">
      <%= render partial: 'shared/signup_form' %>
    </div>
  </div>
  </div>
</div>
